h1 {
  display: flex;
  justify-content: center;
}

.centerInfo {
  display: flex;
  justify-content: center;
  text-align: center;
}
.topContainer,
.bottomContainer {
  display: flex;
}

.answer-choices {
  flex: 1;
  margin: 2px;
}

.highscoreList,
.highscoreData {
  display: flex;
  justify-content: center;
  text-align: center;
}

#question-answer {
  padding-right: 180px;
}

#timer-countdown {
  padding-left: 275px;
}
