h1 {
  display: flex;
  justify-content: center;
}


.centerBtn {
  display: flex;
}

.topContainer,
.bottomContainer {
  display: flex;
}

.answer-choices {
  flex: 1;
  margin: 2px;
}

#question-answer {
  padding-right: 180px;
}

#timer-countdown {
  padding-left: 275px;
}
